<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>首页-{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="container">
    <article>
        <section>
            {% for i in img %}
            <img src="{{ i.src }}" alt="{{ i.alt }}" width="100%">
            {% endfor %}
        </section>
    </article>

    <aside>
        <img src="{{ url_for('static', filename='head_portrait.jpg') }}"
             alt=""
             id="head_portrait"
        >
        <footer>
            <p>&copy;版权所有</p>
        </footer>
    </aside>
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>